@font-face {
  font-family: "Inter";
  src: url("assets/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.render-container {
  display: flex;
  width: 500px;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(24, 24, 27);

  p {
    text-align: center;
    color: #f2f2f2;
  }
}

.render-container:nth-child(even) {
  background: rgb(40, 40, 40);
}
